.border-left{
   border-left:4px solid $primary-color;
}
.br-s{
   border-radius:3px;
}
.br-m{
   border-radius:6px;
}

.dash-item.active{
   @extend .grey;
   @extend .darken-2;
}
.dash-item{
   &:hover{
      @extend .grey;
      @extend .darken-3;
   }
}

.classic-list{
   margin-left: 40px;
   li{

      list-style-type: disc;
   }
}

.overflow-hidden{
   overflow: hidden;
}

.nav-list{
   position:relative;
   font-family: 'Roboto Condensed', roboto, sans-serif;
   margin:0;
   li{
      @extend .tw-bold;
      float:left;
      border-right: 2px solid #515151;
      padding:0px 9px;
      &:first-child{
         padding:0px 0px;
         border-right: 0px solid;
      }
      &:last-child{
         border-right: 0px solid;
      }
   }
}

.nav-main-list{
   position:relative;
   font-family: 'Roboto Condensed', roboto, sans-serif;
   margin:0;
   li{
      @extend .tw-bold;
      line-height: 2.1;
      float:left;
      padding:0px 15px;
      font-size: 2.3em;
   }
}

.joblisting-color{
   padding-bottom: $b-space-xl+15 !important;
   @media #{$medium-and-up} {
      padding-bottom: $b-space !important;
   }
}
.joblisting-article{
   margin-top:-100px;
   @media #{$medium-and-up} {
      margin-top:-200px;
   }
}

.avatar-icon{
   border-radius: 3em;
   height: 50px;
   width: 50px;
   display: inline-block;
   background-size: cover;
   background-position: center center;
   border: 3px solid #fff;
   vertical-align: middle;
}
.avatar-preview{
   border-radius:3em;height:200px;width:200px;background-size:cover;background-position:center center;
}

.inline-block{
   display: inline-block;
}

.table{
		display: table;
		//border-collapse: collapse;
		width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
}
.just-table{
	display: table;
	margin: 0;
	padding: 0;
	list-style: none;
}
.table-row{
	display: table-row;
}
.table-cell{
	display: table-cell;
	width: 1%;
	vertical-align: bottom;
}
.table-cell-f{
	display: table-cell;
	vertical-align: middle;
	@media #{$medium-and-up}{
		display: table-cell;
		vertical-align: middle;
	}
	@media print{
		display: table-cell;
		vertical-align: middle;
	}
}
.table-cell-f-left{

	@media #{$medium-and-up}{
		display: table-cell;
		vertical-align: middle;
		text-align: left;
	}
}
.table-cell-f-bottom{
		text-align: center;
	@media #{$medium-and-up}{
		display: table-cell;
		vertical-align: bottom;
		text-align: left;
	}
}
.table-cell-f-bottom-center{
		text-align: center;
	@media #{$medium-and-up}{
		display: table-cell;
		vertical-align: bottom;
		text-align: center;
	}
}

.q-subsection{
   display:none;
}
.q-subsection.active{
      display:block;
      transition: opacity 1s ease-in-out;
}

.no-fluff{
   margin:0;
   padding:0;
}

.help-cursor{
   cursor: help;
}

.hero2{
   @media #{$medium-and-up}{
      background-image: url(https://s3.amazonaws.com/localstaffing-resources/templatelegal/img/hero2.png);
      background-size: contain;
      background-position: right center;
      background-repeat: no-repeat;

   }
   @media #{$large-and-up}{
      background-image: url(https://s3.amazonaws.com/localstaffing-resources/templatelegal/img/hero2.png);
      background-size: contain;
      background-position: right center;
      background-repeat: no-repeat;
      height:400px;
   }

   @media #{$xlarge-and-up}{
      background-image: url(https://s3.amazonaws.com/localstaffing-resources/templatelegal/img/hero2.png);
      background-size: contain;
      background-position: right center;
      background-repeat: no-repeat;
      height:500px;
   }
}

.hero-cabinet{
   background-image:linear-gradient(90deg, #227DB7 0%, #166196 98%);
   @media #{$medium-and-up}{
      background-image: linear-gradient(90deg, #227DB7 0%, #166196 98%);
      background-size: contain;
      background-position: left center;
      background-repeat: no-repeat;

   }
   @media #{$large-and-up}{
      background-image: url(https://s3.amazonaws.com/localstaffing-resources/templatelegal/img/cabinet.jpg), linear-gradient(90deg, #227DB7 0%, #166196 98%);
      background-size: contain;
      background-position: left center;
      background-repeat: no-repeat;
   }

   @media #{$xlarge-and-up}{

      background-image: url(https://s3.amazonaws.com/localstaffing-resources/templatelegal/img/cabinet.jpg), linear-gradient(90deg, #227DB7 0%, #166196 98%);
      background-size: contain;
      background-position: left center;
      background-repeat: no-repeat;

   }
}
.hero3{
   @media #{$large-and-up}{
      background-image: url(https://s3.amazonaws.com/localstaffing-resources/templatelegal/img/hero3.png);
      background-size: contain;
      background-position: left center;
      background-repeat: no-repeat;
      height: 400px;
   }

   @media #{$xlarge-and-up}{

      background-image: url(https://s3.amazonaws.com/localstaffing-resources/templatelegal/img/hero3.png);
      background-size: contain;
      background-position: left center;
      background-repeat: no-repeat;

   }
}

.hero4{
   @media #{$large-and-up}{
      background-image: url(https://s3.amazonaws.com/localstaffing-resources/templatelegal/img/hero4.png);
      background-size: contain;
      background-position: left center;
      background-repeat: no-repeat;
      height: 400px;
   }

   @media #{$xlarge-and-up}{

      background-image: url(https://s3.amazonaws.com/localstaffing-resources/templatelegal/img/hero4.png);
      background-size: contain;
      background-position: left center;
      background-repeat: no-repeat;

   }
}

.menu{
   ul li{
      a{
         color:#fff;
      }
   }
}

.avatar-xs{
   display:inline-block;
   border-radius:3em;
   width:35px;
   height:35px;
   background-size:cover;
   vertical-align: top;
}
.post_thumb--a{
   display:block;
   width:100%;
   padding-bottom : 100%;
   background-size:cover;
   background-position:center;
   vertical-align: top;
}
.post_thumb--b{
   display:block;
   width:100%;
   padding-bottom : 40%;
   background-size:cover;
   background-position:center;
   vertical-align: top;
}

.black-transparent{
   background-color: rgba(0,0,0,0.75);
}

.image-tiny{
   height:40px;
}

.trending-bar{
   white-space: nowrap;
   overflow-x: auto;
   overflow-y: hidden;
   &::-webkit-scrollbar {
    display: none;
   }
}

.hard-white-text{
   a{
      color:#fff;
   }
}

@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,900');



.cube-container-text{
   position: absolute;
   z-index: 99999999999;
   width: 100%;
   font-family: 'lato', serif;
   color:#fff;
   font-weight:100;
   font-size: 8em;
    @media #{$large-and-up}{
      margin-top: 55px;
    }

}


// = Cube Module
//-------------------------------------------------------------------------------//
// IE9 and below doens't support 
// cssransforms3d but does support csstransforms
.cube-parent-container{
   display:flex;align-items:center;
   justify-content: center;
   flex-direction:column;
   padding: 100px 0px;
   position: absolute;
   width: 100%;
}


  // =======CUBE CONTAINER ======= //

  .cube-container {
    height: 215px;
    position: relative;
    width: 200px;
    perspective:600px;// distance between the scene and the viewer
    perspective-origin: 50% 50%;
    transition: .3s all ease;
  }

  // =======BEGIN CUBE ======= //

  .cube {
    animation: spin 33s infinite linear;
    height: 100%;
    position: absolute;
    transition: .5s all ease-in-out;
    // preserve 3fd effect of child elements
    // default value is 'flat'
    // preserve effects of child elements
    transform-style: preserve-3d;
    // panels global styles
    transform: rotateX(-20deg) rotateY(28deg);
    // tells browser not to render the back of the element
    // Accepts visible | hidden
    backface-visibility: visible;
    width: 100%;

    figure {
      box-sizing: border-box;
      margin: 0;
      display: block;
      height: 200px;
      position: absolute;
      width: 200px;
      font-size: 2em;
      line-height: 6em;
      text-align: center;
    }
  }

  // =======BEGIN CUBE PANELS======= //

  .cube .front {
    transform: translateZ(100px);
    background: rgba(256,256,256,.5);
  }
  .cube .back {
    transform: rotateY(180deg) rotateX(0deg) translateZ(100px);
    background: rgba(256,256,256,.6);
  }
  .cube .left {
    transform: rotateY(-90deg) translateZ(100px);
    background: rgba(256,256,256,.5);
  }
  .cube .right {
    transform: rotateY(90deg) translateZ(100px);
    background: rgba(256,256,256,.4);
  }
  .cube .top {
    transform: rotateX(90deg) translateZ(100px);
    background: rgba(220,220,220,.3);
  }
  .cube .bottom {
    transform: rotateX(-90deg) rotateZ(-180deg) translateZ(100px);
    background: rgba(196,196,196,.5);
    opacity: .55;
  }



@keyframes spin {
  from { transform: rotateX(0) rotateY(0); }
  to   { transform: rotateX(360deg) rotateY(360deg); }
}

.vhs-glitch {
   margin: 0;
   padding: 0;
   background: url("https://julianmaunder.github.io/vcr-js/images/vcr.jpg") top left repeat-y, black;
   background-attachment: fixed;
   -webkit-background-size: 100% 18360px;
   -moz-background-size: 100% 18360px;
   -ms-background-size: 100% 18360px;
   background-size: 100% 18360px;
   animation: background-loop 1s infinite steps(1);
}

@keyframes background-loop {
   $steps: 17;
   @for $i from 0 through $steps {
      #{percentage($i*(1/$steps))} {
         background-position: 0% (-1080 * $i)*1px;
      }
   }
}

footer.page-footer {
    margin-top: 0px;
    padding-top: 0px;
    background-color: #D32F2F;
}

.dg.ac{
  display:none;
}
#canvasGL{
  margin-bottom: -6px;
}

.party-scroll{
  width:100%;
  overflow-x:scroll;
}

.party-card{
  width:150px;
  display: inline-block;
  margin-left:50px;
  .party-image{
    border-radius:50%;
    height:150px;
    width:150px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
  }
}

.horizontal-scroll {
  overflow: hidden;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}


.masonry-layout {
  column-count: 1;
  column-gap: 0;
  transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
  @media #{$medium-and-up} {
    column-count: 2;
  }
  @media #{$large-and-up} {
    column-count: 4;
  }
  @media only screen and (min-width: 1200px){
    column-count: 4;
  }
}
.masonry-layout-panel {
  break-inside: avoid;
  padding: 5px;
}
.masonry-layout-panel__content {
  padding: 10px;
  border-radius: 10px;
}